<app-navbar></app-navbar>
<!-- home.component.html -->
<div class="landing">
    <div class="landing-content">
        <h1 class="animate__animated animate__fadeInDown">Welcome to Our Website</h1>
        <p class="animate__animated animate__fadeInUp">Experience the best gaming laptops on the market</p>
        <button class="animate__animated animate__fadeInUp">Explore Now</button>
    </div>
    <div class="landing-images">
        <div class="image-container animate__animated animate__fadeInRight animate__delay-1s">
            <img src="../assets/a.jpg" alt="Image 1">
            <p>Powerful Performance</p>
        </div>
        <div class="image-container animate__animated animate__fadeInLeft animate__delay-2s">
            <img src="../assets/c.jpg" alt="Image 2">
            <p>Sleek Design</p>
        </div>
        <div class="image-container animate__animated animate__fadeInRight animate__delay-3s">
            <img src="../assets/d.jpg" alt="Image 3">
            <p>Advanced Cooling</p>
        </div>
    </div>
</div>

<footer>
    <div class="footer-content">
        <div class="stay-updated">
            <h3>Stay Updated</h3>
            <form>
                <input type="email" placeholder="Email address" />
                <button type="submit">Submit</button>
            </form>
        </div>
        <div class="connect">
            <h3>Connect</h3>
            <p>info@gradicaelectric.com</p>
            <p>+44 1234567890</p>
        </div>
        <div class="follow">
            <h3>Follow</h3>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</footer>